<!DOCTYPE html>
<html lang="en" >

   
<head >
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

      <!-- Site Title -->
      <title>T&P | Delhi Technological University</title>
      
      <!--Favicon-->
      <link rel="shortcut icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">
      <link rel="icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">

      <!-- CSS
         ================================================== -->
      <!-- Bootstrap -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/academic.css">
      <!-- Template styles-->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive styles-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- FontAwesome -->
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <!-- Animation -->
      <link rel="stylesheet" href="css/animate.css">
      <!-- Colorbox -->
      <link rel="stylesheet" href="css/colorbox.css">
      <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>

     

   
      <div class="body-inner">
         <!-- Header start -->
         <header id="header" class="header header-transparent" style="background-color: rgba(5, 5, 5, 0.9); height: 80px;">
            <div class="container" >
               <div class="row" >
                  <div class="navbar-header" >
                     <div class="logo">

                        <img src="../images/DTU,_Delhi_official_logo.png" style="width: 40px;" alt="logo">

                        
                     
                     </div>
                     <!-- logo end -->
                  </div>
                  <!-- Navbar header end -->
                  <div class="site-nav-inner" style="color: black">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>

                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-left" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="index.html" >T & P DEPARTMENT </a>
                             
                           </li>
                           </ul>
                           </nav>
                           <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right" >
                              <ul class="nav navbar-nav" >
                                 <li class="dropdown">
                                    <a href="/" >Home </a>
                                   
                                 </li>
                                 <!-- Home li end -->
                                 <li class="dropdown">
                                    <a href="/message">Message</a>
                                   
                                 </li>
                                 <!-- About li end -->
                                 <li class="dropdown">
                                    <a href="/objective">Objective</a>
                                    
                                 </li>
                                 <!-- Speakers li end -->
                                 <li class="dropdown">
                                    <a href="/procedure" >Procedure </a>
                                   
                                 </li>
                                 <!-- Schedule li end -->
                                 <li class="dropdown">
                                    <a href="/academics">Academics</a>
                                    
                                 </li>
                                 <li class="dropdown">
                                    <a href="/whydtu">WHY DTU</a>
                                    
                                 </li>
                               
                                 <li class="dropdown">
                                    <a href="/chart">Placement Stats</a>
                                    
                                 </li>
                                 <li class="dropdown">
                                    <a href="/FAQ">FAQ's</a>
                                    
                                 </li>  <li class="dropdown">
                                    <a href="/contact">CONTACT</a>
                                    
                                 </li>                    
                                 
                              </ul>
                           </nav>
                     <!--/ Collapse end -->
                  </div>
                  <!--/ Site nav inner end -->
               </div>
               <!--/ Row end -->
            </div>
            <!--/ Container end -->
         </header>
         <!--/ Header end -->
         </head>
         <div class="gap-60"></div>

         <div class="beta">
            <h1>Courses</h1>
        
            <button class="accordion">B.Tech</button>
            <div class="accordion-content">
                <p>The following courses offered for the Bachelor of Technology Degree under Delhi Technological University:</p>
                <a href="http://www.dtu.ac.in/Web/Departments/CSE/about/"><p> 1. Computer Engineering (COE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/InformationTechnology/about/"><p> 2. Information Technology (IT)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/SE/about/"><p> 3. Software Engineering (SE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/AppliedMathematics/about/"><p>4. Mathematics and Computing (MC)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electronics/about/"><p>5. Electronics & Communication Engineering (ECE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electrical/about/"><p>6. Electrical Engineering (EE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electrical/about/"><p>7. Electrical and Electronics Engineering (EEE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"><p>8. Mechanical Engineering (ME)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"><p>9. Automobile Engineering (AE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Civil/about/"><p>10. Civil Engineering (CE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"><p>11. Production & Industrial Engineering (PIE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/AppliedPhysics/about/"><p>12. Engineering Physics (EP)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Environment/about/"><p>13. Environmental Engineering (ENE)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/AppliedChemistry/about/"><p>14. Polymer Science & Chemical Technology (PCT)</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Biotech/about/"><p>15. Bio-Technology (BT)</p></a>
            </div>
        
        
            <button class="accordion">M.Tech</button>
            <div class="accordion-content">
                <p>The following courses offered for the Master of Technology Degree under Delhi Technological University:</p>
                <a href="http://www.dtu.ac.in/Web/Departments/CSE/about/"> <p>  1. Computer Science & Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/SE/about/"> <p>  2. Software Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/InformationTechnology/about/"><p>  3. Information Technology</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"> <p>  4. Computational Design</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electronics/about/"><p>  5. Signal Processing & Digital Design</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electronics/about/"><p>  6. Microwave & Optical Communication</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electronics/about/"><p>  7. VLSI Design & Embedded system</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electrical/about/"><p>  8. Control & Instrumentation Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Electrical/about/"><p>  9. Power system</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Civil/about/"><p>  10. Structure Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Environment/about/"><p>  11. Environment Enginnering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Civil/about/"><p>  12. Hydraulic & Flood Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Civil/about/"><p>  13. Geotechnical Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"><p>  14. Thermal Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"><p>  15. Production Engineering</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Environment/about/"><p>  16. Renewable Energy Technology</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/AppliedChemistry/about/"><p>  17. Applied Chemistry</p></a>
                 <a href="http://www.dtu.ac.in/Web/Departments/AppliedChemistry/about/"><p>  18. Nano Science & Technology</p></a>
                 <a href="http://www.dtu.ac.in/Web/Departments/Biotech/about/"><p>  19. Bio-Informatics</p></a>
            </div>
        
        
            <button class="accordion">MBA</button>
            <div class="accordion-content">
                <p> Delhi Technological University offers a two year full time MBA program with DUAL Specializations in:
                </p>
                <h2 class="intro-title">Specializations </h2>
        
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Information Technology Management</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Knowledge & Technology Management</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Supply Chain Management</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Finance</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Human Resources</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Marketing</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Operations</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Accounting</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Bussiness Analytics</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Family Bussiness And Entrepreneurship</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/DSM/about/"><p> Innovation And Entrepreneurship And Venture Developement</p></a>

              
                
              
            </div>
            <button class="accordion">BBA</button>
            <div class="accordion-content">
                
              
            </div>
            <button class="accordion">BAE</button>
            <div class="accordion-content">
                
              
            </div>
            <button class="accordion">M.Sc</button>
            <div class="accordion-content">
                <p>The following courses offered for the M.Sc Degree under Delhi Technological University:</p>
                <a href="http://www.dtu.ac.in/Web/Departments/CSE/about/"> <p>  1. Applied Physics</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/SE/about/"> <p>  2. Applied Chemistry</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/InformationTechnology/about/"><p>  3. Biology</p></a>
                <a href="http://www.dtu.ac.in/Web/Departments/Mechanical/about/"> <p>  4. Applied Mathematics</p></a>
               
              
            </div>
            <button class="accordion">B.Des</button>
            <div class="accordion-content">
                
              
            </div>
            <button class="accordion">M.Des</button>
            <div class="accordion-content">
                
              
            </div>
          </div>
        
         

         <footer id="footer" class="footer text-center">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="footer-social">
                        <ul>
                           <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li><form action="#" method="post">
                              <div class="form-group">
                                 <button class="btn btn-primary"><a href="mailto:placements@dtu.ac.in" style="text-decoration: none;color: rgb(245, 242, 242);"> Contact Us</a></button>
                              </div>
                           </form></li>
                        </ul>
                     </div>
                     
                     <div class="copyright-info">
                        <span>Copyright © 2022 T&P WEBD TEAM. All Rights Reserved.</span>
                     </div>
                  </div>
               </div>
            </div>
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
               <button class="btn btn-primary" title="Back to Top">
               <i class="fa fa-angle-up"></i>
               </button>
            </div>
         </footer>
         <script src="js/academic.js"></script>
