<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    
</head>
<body>
 
<div class="box">
    <div class="">
    <header>  
    <h1>Index Page</h1>
   
    </header>
  </div>
    <div class="">
    <!-- <h2>Presonal Details</h2> -->
    <form method="post" action="/updateIndex=" class="box">
        
        <p>invitation:<input type="text"value=""  name="invitation"required placeholder="invitation"> </p>
        <p>totalOffers:<input type="Number"value="" name="totalOffers"required placeholder="totalOffers"></p>
        <p>highestCtc:<input type="Number"value="" name="highestCtc"required placeholder="highestCtc"></p>
        <p>highestStipend:<input type="Number"value="" name="highestStipend"required placeholder="highestStipend"></p>
        <p>avgStipend:<input type="number"value="" name="avgStipend"required placeholder="avgStipend"></p>
        <!-- <p>Email:<input type="email" placeholder="abc123@email.com"></p> -->
        <!-- <p>Address:
          <textarea class="form-control" name="address" rows="3"></textarea>
        </p> -->
        <!-- <p>
            Card Type:
             <select >
                <option value="visa">VISA</option>
                <option value="Rupay">RUPAY</option>
                <option value="Mastercard">MASTERCARD</option>
             </select>
        </p> -->
        <!-- <p>Card Number:<input type="number" required placeholder="1111-2222-3333-4444" name="cardno."></p> -->
        <!-- <p>Expiration Date:<input type="date" name="carddate"></p>
        <p>CVV:<input type="number" required placeholder="123" name="cvv"></p> -->
        <input type="submit" value="SUBMIT">
        <!-- <input type="reset" value="RESET"> -->
    </form>
     </div>
    </div>





    <div class="containermain">
        <div class="cointainerh">
        <header>  
        <h1>Message Page</h1>
       
        </header>
      </div>
        <div class="containerb">
        <!-- <h2>Presonal Details</h2> -->
        <form method="post" action="/updateMessage" class="box">
            <p>Chancellor msg:<input type="text"value="" required placeholder="Chancellor" name="chancellor" >  </p>
            <p>Hod msg:<input type="text"value="" required placeholder="HOD" name="HOD">  </p>
            <input type="submit" value="SUBMIT">
            <!-- <input type="reset" value="RESET"> -->
            
        </form>
         </div>
        </div>

        <div class="containermain">
          <div class="cointainerh">
          <header>  
          <h1>Objective Page</h1>
         
          </header>
        </div>
          <div class="containerb">
          <!-- <h2>Presonal Details</h2> -->
          <form method="post" action="/updateObjective" class="box">
              <p>Vission:<input type="text" value=""required placeholder="vission " name="vission">  </p>
              <p>Mission:<input type="text" value=""required placeholder="mission" name="mission">  </p>
              <input type="submit" value="SUBMIT">
              <!-- <input type="reset" value="RESET"> -->
              
          </form>
           </div>
          </div>
          <div class="containermain">
            <div class="cointainerh">
            <header>  
            <h1>Chart Page</h1>
           
            </header>
          </div>
            <div class="containerb">
            <form method="post" action="/updateChart" class="box">
                <p>totalOffersPlacement<input type="text" value=""required placeholder="totalOffersPlacement" name="totalOffersPlacement">  </p>
                <p>highestCTCPlacement:<input type="text" value=""required placeholder="highestCTCPlacement " name="highestCTCPlacement">  </p>
                <p>averageCTCPlacement:<input type="text" value=""required placeholder="averageCTCPlacement " name="averageCTCPlacement">  </p>
                <p>highestStipendIntern:<input type="text" value=""required placeholder="highestStipendIntern" name="highestStipendIntern">  </p>
                <p>averageStipendIntern:<input type="text" value=""required placeholder="averageStipendIntern" name="averageStipendIntern">  </p>
                <p>highestPackage21:<input type="text" value=""required placeholder="highestPackage21" name="highestPackage21">  </p>
                <p>highestPackage20:<input type="text" value=""required placeholder="highestPackage20" name="highestPackage20">  </p>
                <p>highestPackage19:<input type="text" value=""required placeholder="highestPackage19" name="highestPackage19">  </p>
                <p>myChart:<input type="text" value=""required placeholder="myChart" name="myChart">  </p>
                <p>myChart3:<input type="text" value=""required placeholder="myChart3" name="myChart3">  </p>
                <p>myChart4:<input type="text" value=""required placeholder="myChart4" name="myChart4">  </p>
                <p>myChart1:<input type="text" value=""required placeholder="myChart1" name="myChart1">  </p>
                <p>myChart2:<input type="text" value=""required placeholder="myChart2" name="myChart2">  </p>
                

                <input type="submit" value="SUBMIT">
                <!-- <input type="reset" value="RESET"> -->
                
            </form>
             </div>
            </div>

       
</body>
</html>