<!DOCTYPE html>
<html lang="en" >

   
<head >
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

      <!-- Site Title -->
      <title>T&P | Delhi Technological University</title>
      
      <!--Favicon-->
      <link rel="shortcut icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">
      <link rel="icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">

      <!-- CSS
         ================================================== -->
      <!-- Bootstrap -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Template styles-->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive styles-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- FontAwesome -->
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <!-- Animation -->
      <link rel="stylesheet" href="css/animate.css">
      <!-- Colorbox -->
      <link rel="stylesheet" href="css/colorbox.css">
      <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>
   

   
      <div class="body-inner">
         <!-- Header start -->
         <header id="header"   class="header header-transparent" style="background-color: rgba(5, 5, 5, 0.9); height: 80px;">
            <div class="container" >
               <div class="row" >
                  <div class="navbar-header" >
                     <div class="logo">

                        <img src="DTU,_Delhi_official_logo.png" style="width: 40px;" alt="logo">

                        
                     
                     </div>
                     <!-- logo end -->
                  </div>
                  <!-- Navbar header end -->
                  <div class="site-nav-inner" style="color: black">
                    

                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-left" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="index.html" >T & P DEPARTMENT </a>
                             
                           </li>
                           </ul>
                           </nav>
                           <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right" >
                              <ul class="nav navbar-nav" >
                                 <li class="dropdown">
                                    <a href="/" >Home </a>
                                   
                                 </li>
                                 <!-- Home li end -->
                                 <li class="dropdown">
                                    <a href="/message">Message</a>
                                   
                                 </li>
                                 <!-- About li end -->
                                 <li class="dropdown">
                                    <a href="/objective">Objective</a>
                                    
                                 </li>
                                 <!-- Speakers li end -->
                                 <li class="dropdown">
                                    <a href="/procedure" >Procedure </a>
                                   
                                 </li>
                                 <!-- Schedule li end -->
                                 <li class="dropdown">
                                    <a href="/academics">Academics</a>
                                    
                                 </li>
                                 <li class="dropdown">
                                    <a href="/whydtu">WHY DTU</a>
                                    
                                 </li>
                               
                                 <li class="dropdown">
                                    <a href="/chart">Placement Stats</a>
                                    
                                 </li>
                                 <li class="dropdown">
                                    <a href="/FAQ">FAQ's</a>
                                    
                                 </li>  <li class="dropdown">
                                    <a href="/contact">CONTACT</a>
                                    
                                 </li>                    
                                 
                              </ul>
                           </nav>
                    
                     <!--/ Collapse end -->
                  </div>
                  <!--/ Site nav inner end -->
               </div>
               <!--/ Row end -->
            </div>
            <!--/ Container end -->
         </header>
         <!--/ Header end -->
         </head>

         <style>
            
 .alpha{
    font-family: sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('./images/Aditya_maurya-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.sign-up-form{
    width: 500px;
    background-color:rgba(0, 0, 0, 0.3) ;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);
    border-color: black;
    padding: 20px;
    margin: 4% auto 0;
    text-align: center;
}

.sign-up-form h1{
    color: rgb(248, 245, 245);
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid rgb(3, 0, 0);
    outline: none;
    padding-left: 10px;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn{
    background-color: #00080a;
}

.signup-btn:hover{
    background-color: #000508;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right:5%;
    top:15px;

}
.line{
    width: 33px;
    background-attachment: fixed;
    background-color: blanchedalmond;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction:column;
    }
    .navbar{
        height:478px;
        flex-direction: column;
        transition: all 0.8s ease-out;
    }
    .rightNav{
        text-align: center;

    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 30px;
    }   
    .v-class-resp{
        opacity: 0;
    }
}
         </style>



        
        <section class="alpha" >    
         <div class="sign-up-form" >
               
                <h1 class="signup">CONTACT US</h1>
            <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdOpO2K5f3Z0yHaDUQdX1ufUUv7khjWCgZpNipaWmLLxDQ_5Q/formResponse">
                <input type="email" name="emailAddress" class="input-box" placeholder="Email">

                <input type="text" name="entry.847845062" class="input-box" placeholder="Company Name">

                <input type="number" name="entry.655006882" class="input-box" placeholder="Phone Number">

                <input type="text" name="entry.1700540403" class="input-box" placeholder="Contact person">

                <input type="text" name="entry.636783150" class="input-box" placeholder="Your Query">

                <button  type="submit" class="signup-btn">Submit</button>
                
                
                
            </form>
            </div>
        </section>

        <footer id="footer" class="footer text-center">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="footer-social">
                     <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><form action="#" method="post">
                           <div class="form-group">
                              <button class="btn btn-primary"><a href="mailto:placements@dtu.ac.in" style="text-decoration: none;color: rgb(245, 242, 242);"> Contact Us</a></button>
                           </div>
                        </form></li>
                     </ul>
                  </div>
                  
                  <div class="copyright-info">
                     <span>Copyright © 2022 T&P WEBD TEAM. All Rights Reserved.</span>
                  </div>
               </div>
            </div>
         </div>
         <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
            <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-up"></i>
            </button>
         </div>
      </footer>
        
       
    <script src="resp.js"></script>
    

</html>