<!DOCTYPE html>
<html lang="en" >

   
<head >
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

      <!-- Site Title -->
      <title>T&P | Delhi Technological University</title>
      
      <!--Favicon-->
      <link rel="shortcut icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">
      <link rel="icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">

      <!-- CSS
         ================================================== -->
      <!-- Bootstrap -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <!-- Template styles-->
      <link rel="stylesheet" href="../css/style.css">
      <!-- Responsive styles-->
      <link rel="stylesheet" href="../css/responsive.css">
      
      <link rel="stylesheet" href="../css/font-awesome.min.css">
      <!-- Animation -->
      <link rel="stylesheet" href="../css/animate.css">
      <!-- Colorbox -->
      <link rel="stylesheet" href="../css/colorbox.css">
      <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>
   

   
      <div class="body-inner">
         <!-- Header start -->
         <header id="header" class="header header-transparent" style="background-color: rgba(5, 5, 5, 0.9); height: 80px;">
            <div class="container" >
               <div class="row" >
                  <div class="navbar-header" >
                     <div class="logo">

                        <img src="../images/DTU,_Delhi_official_logo.png" style="width: 40px;" alt="logo">

                        
                     
                     </div>
                     <!-- logo end -->
                  </div>
                  <!-- Navbar header end -->
                  <div class="site-nav-inner" style="color: black">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>

                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-left" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="/" >T & P DEPARTMENT </a>
                             
                           </li>
                           </ul>
                           </nav>
                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="/" >Home </a>
                             
                           </li>
                           <!-- Home li end -->
                           <li class="dropdown">
                              <a href="/message">Message</a>
                             
                           </li>
                           <!-- About li end -->
                           <li class="dropdown">
                              <a href="/objective">Objective</a>
                              
                           </li>
                           <!-- Speakers li end -->
                           <li class="dropdown">
                              <a href="/procedure" >Procedure </a>
                             
                           </li>
                           <!-- Schedule li end -->
                           <li class="dropdown">
                              <a href="/academics">Academics</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/whydtu">WHY DTU</a>
                              
                           </li>
                         
                           <li class="dropdown">
                              <a href="/chart">Placement Stats</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/FAQ">FAQ's</a>
                              
                           </li>  <li class="dropdown">
                              <a href="/contact">CONTACT</a>
                              
                           </li>                    
                           
                        </ul>
                     </nav>
                     <!--/ Collapse end -->
                  </div>
                  <!--/ Site nav inner end -->
               </div>
               <!--/ Row end -->
            </div>
            <!--/ Container end -->
         </header>
         <!--/ Header end -->
         </head>



        
         

         <section id="" class="">
            <div class="container">
               <div class="row" id="about" >
                <div style="display: flex;">
                  <div class="" style="width: 30%;">
                     <div class="gap-60"></div>
                     <h3 class="intro-sub-title" >From The Vice-Chancellor's Desk</h3>
                     <img src="../images/vc.jpg" alt="" style="width: 300px;">
                     <h2 class="intro-title">Prof. Jai Prakash Saini
                        <h4> Vice Chancellor </h4>
                         <h5>Delhi Technological University</h5>
                  </div>
                  <div style="width: 70%; padding-top: 80px;text-align: justify;" >
                    <blockquote>The Delhi Technological University (Erstwhile Delhi College of Engineering) has a glorious past of more than 74 years and has been widely acclaimed for its excellence in education, research and training. A special emphasis is laid on total personality development along with the quality education and technical training of the students. Delhi Technological University is fully networked with industry, as well as with academic/scientific community. It has active collaborations with leading universities and industries in India and abroad. Delhi Technological University is the alma mater of highly distinguished world class engineers and technologists, which include the father of Pentium Chip Vinod Dham, Promod Haque, the world's known venture capitalist, Raj Soin, the avionics wizards of US and a top ranking techno entrepreneur of Ohio, Durgadas Agrawal, the renowned techno-entrepreneur of Houston, to name a few.

                        Delhi Technological University has kept the quality of education and research as its main focus of academic and professional activities and this has earned a high reputation in the country and abroad as is evident from DTU figuring several times among the top ten engineering institutions in the country along with the IITs. Alumni, Staff, students and supporters take pride in having contributed to the Delhi Technological University reputation as India's flagship, research-led university, known for the excellence of its teaching, research, and service to its local, national and international communities. Our challenge for the future is to build on this strong base to establish ourselves firmly among the world's leading universities. I hope our outstanding students will support us in this endeavour and in turn emerge themselves, as pioneers of an exemplary society.
                    

                  </div>
                  </div>


                  <div style="display: flex;">
                    <div class="" style="width: 30%;">
                       <div class="gap-60"></div>
                       <h3 class="intro-sub-title" >From HOD's Desk</h3>
                       <img src="../images/rajesh_sir2.jpg" alt="" style="width: 300px;">
                       <h2 class="intro-title">Dr. Rajesh Rohilla
                          <h4> Department of Training & Placement (HOD) </h4>
                           <h5>Delhi Technological University</h5>
                       
                    </div>
                    <div style="width: 70%; padding-top: 110px;">
                      <blockquote>Delhi Technological University, has incessantly been acting as a rostrum for providing quality technical education with a mission of developing technocrats having potential to the greatest degree. In congruence with this mission, Delhi Technological University has perpetuated an admirable record for academic contribution towards achieving excellence in building enviable organizations & a stupendous society.

                        The programs here have been designed to instil & inculcate spirits of innovation, leadership & team work. Employing of latest technologies for effective delivery & a practice oriented curriculum has been emphasized upon. The graduates & post-graduates of Delhi Technological University, by the virtue of the exposure provided, have gained tremendous technological superiority & a better overall understanding of the world and thus, been recruited in several International Conglomerates along with Indian Corporations. This, in turn, has created an extensive & ever-growing network of alumni eager to return back to the institution. We enjoy highly valued partnerships with all our recruiters & remain committed to make their recruiting experience productive & positive along with helping students in order to find the best match between their needs & capabilities.
                   
  
                    </div>
                    </div>

                  
                  </div>
                  <!-- Col end -->
               </div>
                        
                     </div>
                     
                  </div>
                  
               </div>
               <!-- Content row 2 end -->
            </div>
            <!--/ Container end -->
         </section>

         <footer id="footer" class="footer text-center">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="footer-social">
                        <ul>
                           <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li><form action="#" method="post">
                              <div class="form-group">
                                 <button class="btn btn-primary"><a href="mailto:placements@dtu.ac.in" style="text-decoration: none;color: rgb(245, 242, 242);"> Contact Us</a></button>
                              </div>
                           </form></li>
                        </ul>
                     </div>
                     
                     <div class="copyright-info">
                        <span>Copyright © 2022 T&P WEBD TEAM. All Rights Reserved.</span>
                     </div>
                  </div>
               </div>
            </div>
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
               <button class="btn btn-primary" title="Back to Top">
               <i class="fa fa-angle-up"></i>
               </button>
            </div>
         </footer>