<!DOCTYPE html>
<html lang="en" >

   
<head >
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

      <!-- Site Title -->
      <title>T&P | Delhi Technological University</title>
      
      <!--Favicon-->
      <link rel="shortcut icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">
      <link rel="icon" href="DTU,_Delhi_official_logo.png" type="image/x-icon">

      <!-- CSS
         ================================================== -->
      <!-- Bootstrap -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <!-- Template styles-->
      <link rel="stylesheet" href="../css/style.css">
      <!-- Responsive styles-->
      <link rel="stylesheet" href="../css/responsive.css">
      <!-- FontAwesome -->
      <link rel="stylesheet" href="../css/font-awesome.min.css">
      <!-- Animation -->
      <link rel="stylesheet" href="../css/animate.css">
      <!-- Colorbox -->
      <link rel="stylesheet" href="../css/colorbox.css">
      <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>

     

   
      <div class="body-inner">
         <!-- Header start -->
         <header id="header" class="header header-transparent" style="background-color: rgba(5, 5, 5, 0.9); height: 80px;">
            <div class="container" >
               <div class="row" >
                  <div class="navbar-header" >
                     <div class="logo">

                        <img src="../images/DTU,_Delhi_official_logo.png" style="width: 40px;" alt="logo">

                        
                     
                     </div>
                     <!-- logo end -->
                  </div>
                  <!-- Navbar header end -->
                  <div class="site-nav-inner" style="color: black">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>

                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-left" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="/" >T & P DEPARTMENT </a>
                             
                           </li>
                           </ul>
                           </nav>
                     <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right" >
                        <ul class="nav navbar-nav" >
                           <li class="dropdown">
                              <a href="/" >Home </a>
                             
                           </li>
                           <!-- Home li end -->
                           <li class="dropdown">
                              <a href="/message">Message</a>
                             
                           </li>
                           <!-- About li end -->
                           <li class="dropdown">
                              <a href="/objective">Objective</a>
                              
                           </li>
                           <!-- Speakers li end -->
                           <li class="dropdown">
                              <a href="/procedure" >Procedure </a>
                             
                           </li>
                           <!-- Schedule li end -->
                           <li class="dropdown">
                              <a href="/academics">Academics</a>
                              
                           </li>
                           <!-- Blog li end -->
                           <li><a href="/whydtu">Why DTU</a>
                           </li>
                           <li class="dropdown">
                              <a href="/chart">Placement Stats</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/FAQ">FAQ's</a>
                              
                           </li>
                           <li class="dropdown">
                              <a href="/contact">CONTACT</a>
                              
                           </li>
                           
                        
                       
                        
                           
                        </ul>
                        <!--/ Nav ul end -->
                     </nav>
                     <!--/ Collapse end -->
                  </div>
                  <!--/ Site nav inner end -->
               </div>
               <!--/ Row end -->
            </div>
            <!--/ Container end -->
         </header>
         <!--/ Header end -->
         </head>

         <section id="" class="">
            <div class="container">
               <div class="row" id="about">
                  <div class="">
                     <div class="gap-60"></div>
                     <h3 class="intro-sub-title" >Vision</h3>
                     <!-- <h2 class="intro-title">Prof. Jai Prakash Saini
                        <h4> Vice Chancellor </h4>
                         <h5>Delhi Technological University</h5> -->
                     <blockquote><%=vission%>
                  </div>
                  <div class="">
                    <div class="gap-60"></div>
                    <h3 class="intro-sub-title" >Mission </h3>
                    <!-- <h2 class="intro-title">Dr. Rajesh Rohilla
                       <h4> Department of Training & Placement (HOD) </h4>
                        <h5>Delhi Technological University</h5> -->
                    <blockquote><%=mission%>

                 </div>
                  
                  </div>
                  <!-- Col end -->
               </div>
                        
                     </div>
                     
                  </div>
                  
               </div>
               <!-- Content row 2 end -->
            </div>
            <!--/ Container end -->
         </section>

         <footer id="footer" class="footer text-center">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="footer-social">
                        <ul>
                           <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                           <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                           <li><form action="#" method="post">
                              <div class="form-group">
                                 <button class="btn btn-primary"><a href="mailto:placements@dtu.ac.in" style="text-decoration: none;color: rgb(245, 242, 242);"> Contact Us</a></button>
                              </div>
                           </form></li>
                        </ul>
                     </div>
                     
                     <div class="copyright-info">
                        <span>Copyright © 2022 T&P WEBD TEAM. All Rights Reserved.</span>
                     </div>
                  </div>
               </div>
            </div>
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
               <button class="btn btn-primary" title="Back to Top">
               <i class="fa fa-angle-up"></i>
               </button>
            </div>
         </footer>